*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin:0 auto;
    padding:0 2%;
}

header{
    padding: 50%;
}

.titulo{
    display: block;
    padding: 4%;
    background-color: rgba(0,0,0,0.5);
    color: aliceblue;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;


}

body{
    background-image: url('https://github.com/Pombola/Identid-art/blob/main/Leonardo_Diffusion_Artisc_web_site_3-transformed%20(1).jpeg?raw=true');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;    
}

.principal{
    display: block;
    padding: 4%;
    text-align: center;
    color: aliceblue;
    letter-spacing: 2px;
    padding-top: 10px;

}

.quadrado {
    width: 310px; 
    height: 410px; 
    background-color: white; 
    margin: 0 auto;
  }

  .tatu {
    padding: 415px;
    padding-left: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.butao1[type="file"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 22px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;

    &:hover {
        background-color: #0056b3;
    } 
}   

.butao2 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 125px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 100px;
    border: none;
    margin: 0 auto;
    margin-top: 10px;

    &:hover {
        background-color: #0056b3;
    }
}

.erro{
    color: rgb(10, 127, 236);
    margin-top: 10px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}